.my-games_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    width: 97%;
    margin: 0 auto;
}


@media (max-width: 1434px){
    .my-games_wrapper{
        justify-content: center;
        width: 100%;
    }
  }