.footerT8_wrapper {
    width:100%;
    padding-bottom: 20px;
    padding-top: 35px;
}

.footerT8_wrapper hr{
    width:85%;
    position: absolute;
    bottom: 34px;
    opacity: 0.4;
}

.footerT8_wrapper img {
    width: 10%;
    max-width: 100px;
    position: absolute;
    bottom: 12px;
    right: 25px;
    opacity: 0.4;
}


@media (max-width: 680px){
    .footerT8_wrapper hr{
        width:76%;
        bottom: 26px;
    }
    
    .footerT8_wrapper img {
        width: 18%;
        bottom: 14px;
        right: 5px;
    }
    
}
