.table-top-players_wrapper {
    width: 95%;
    margin: 10px auto;
    text-transform: capitalize;
}

.table-top-players_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--gray);
    color: var(--black);
    font-family: var(--fontTitle);
    text-align: left;
    border-top: 1px solid var(--white);
}

.table-top-players_body {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    font-family: var(--fontText);
    transition: 0.3s;
    cursor: pointer;
}

.table-top-players_body:hover {
    background: var(--orange);
    transition: 0.3s;
}

.table-top-players_header p{
    font-size: 16px;
 }

.text-column {
   width: 35%;
   padding: 10px;
   border: 1px solid var(--white);
   border-top: none;
}

.number-column {
    font-family: var(--fontTitle);
    width: 10%;
    padding: 10px;
    border: 1px solid var(--white);
    text-align: center;
    border-top: none;
}

  
@media (max-width: 960px){

    .table-top-players_header p{
        font-size: 13px;
     }

    .text-column {
        width: 30%;
        padding: 10px 5px;
     }
     
     .number-column {
         width: 23.33%;
         padding: 10px 5px;
     }
}