.court-modal_wrapper {
    width: 100%;
    display: flex;
}

.ant-modal-body {
    padding: 0;
}

.court-modal_left {
    width: 30%;
    padding: 5px;
    background: var(--gray);
}

.court-modal_right {
    width: 70%;
    padding: 5px;
    background: var(--solidGray);
    color: var(--white);
}