.court-infos_wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    border: 2px solid var(--gray);
    padding: 20px 15px;
    text-align: left;
    border-top: 1px solid var(--white);
}

.court-infos_adress {
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 70%;
}

.court-infos_adress div{
    font-family: var(--fontTitle);
    font-size: 24px;
    line-height: 24px;
}

.court-infos_adress p{
    font-family: var(--fontText);
    font-size: 16px;
    line-height: 18px;
    padding-top: 8px;
}

.court-infos_detail {
    font-family: var(--fontText);
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    border-left: 10px solid var(--orange);
    padding-left: 15px;
    width: 24%;
}


.court-infos_detail span{
    color: var(--orange);
    font-family: var(--fontTitle);
    font-size: 22px;
    padding-left: 4px;
}

.rating-antd {
    color: var(--orange);
    margin-left: 5px;
}

.rating-antd li {
    font-size: 16px;
    margin-right: 4px;
}

@media (max-width: 1200px){
    .court-infos_wrapper {
        width: 90%;
    }

    .court-infos_detail div:first-child {
        padding-bottom: 8px;
    }
}

@media (max-width: 920px){
    .court-infos_wrapper {
        flex-direction: column;
    }

    .court-infos_adress {
        max-width: 100%;
        width: 100%;
    }

    .court-infos_detail {
        width: 100%;
        margin-top: 20px;
    }

    .court-infos_detail {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .court-infos_detail div {
        padding: 0px 2px 2px;
    }
}

@media (max-width: 700px){
    .court-infos_wrapper {
        width: 95%;
    }

    .court-infos_adress div{
        font-size: 20px;
        line-height: 22px;
    }
    
    .court-infos_adress p{
        font-size: 14px;
        line-height: 18px;
    }
    
    .court-infos_detail {
        font-size: 14px;
        line-height: 18px;
    }
}