.user_button-wrapper {
    display: flex;
    justify-content: center;
    max-width: 655px;
    margin: 15px auto;
}

.user_description-wrapper {
    max-width: 655px;
    margin: 10px auto;
}

.user_description-wrapper h2{
    font-family: var(--fontTitle);
    font-size: 30px;
    line-height: 34px;
    text-transform: capitalize;
}

.user_description-text {
    padding:5px 15px; 
    font-size: 16px;
    line-height: 22px;
    word-break: normal;
}

.user_description-text:before,  .user_description-text:after{
    content: ' " ';
    font-size: 24px;
    line-height: 26px;
}

.user_results-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 20px;
}

.user_results-wrapper p {
    width: 33%;
    font-family: var(--fontTitle);
    font-size: 25px;
    line-height: 28px;
    border: 1px solid var(--white);
    padding: 10px 5px;
}

.user_results-wrapper p span{
    font-size: 45px;
    line-height: 48px;
}

.user_infos-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}



/* TABLEAU */

.user_infos-user, .user_infos-games, .user_infos-grade {
    width: 42%;
}

.user_infos-grade {
    width: 20%;
}

.user_infos-user ul li, .user_infos-games ul li{
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    width: 100%;
    border: 1px solid var(--gray);
    box-sizing: border-box;
}

.user_infos-grade {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 18px var(--orange);
    border: 2px solid var(--white);
    margin: 18px 20px 0px;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    min-width: 160px;
    margin: 30px;
}

.user_infos-grade div {
    font-family: var(--fontTitle);
    font-size: 75px;
    line-height: 25px;
}

.user_infos-grade div span{
    font-family: var(--fontTitle);
    font-size: 25px;
    line-height: 0px;
}

.user_infos-user ul li div, .user_infos-games ul li div {
    padding: 6px 8px;
}

.user_infos-games ul li:last-child div:last-child {
    padding: 0px 4px;
}

.user_infos-user ul li div:first-child {
    border-right: 1px solid var(--gray);
    width: 30%;
    text-align: left;
    background-color: var(--white);
    color: var(--black);
}

.user_infos-games ul li div:first-child{
    border-right: 1px solid var(--gray);
    width: 60%;
    text-align: left;
    background-color: var(--white);
    color: var(--black);
}

/* TABLEAU RESULTS */

.user_games-wrapper {
    text-align: left;
    width: 100%;
    margin: 30px 0px;
}

.user_games-wrapper h2{
    font-family: var(--fontTitle);
    font-size: 30px;
    padding-left: 10px;
}




/* MEDIA QUERIES */

@media (max-width: 1280px){
    .user_container {
        width: 95%;
        padding: 20px 10px;
    }
  }
  
  @media (max-width: 900px){
    .user_infos-wrapper {
        flex-direction: column;
    }

    .user_infos-user, .user_infos-games {
        width: 90%;
        order: 1;
        padding: 12px 0px;

    }

    .user_results-wrapper p {
        font-size: 18px;
        line-height: 20px;
    }
    
    .user_results-wrapper p span{
        font-size: 38px;
        line-height: 40px;
    }

    .user_description-text {
        font-size: 14px;
        line-height: 20px;
    }

    
    
  }