.home_wrapper {
    text-align: center;
    font-family: 'Kanit';
}

.home_introduction-wrapper {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid var(--white);
}

.home_introduction-wrapper h1 {
  font-family: var(--fontTitle);
  font-size: 80px;
  line-height: 70px;
}

.home_introduction-wrapper h1 span{
  color: var(--orange);
}

/* First part of the home page, with the background image */
.home_introduction-text {
  font-family: var(--fontText);
  font-size: 22px;
  font-weight: bold;
  text-shadow: 2px 2px 0px var(--black);
  margin-top: 40px;
}

.cursor {
  color: var(--orange);
  animation: blinkTextCursor 1s infinite;
}

.home_introduction-arrow {
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}

.home_introduction-arrow img {
 width: 30px;
 height: auto;
}

.home_introduction-arrow img:hover {
  width: 32px;
  height: auto;
 }

/* Second part of the home page, with presentation icons */
 .home_presentation-wrapper {
    padding: 45px 20px 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    border-bottom: 1px solid white;
 }

@keyframes blinkTextCursor{
  from{opacity: 1;}
  to{opacity: 0;}
}

.home_introduction-typing-text {
  font-family: var(--fontText);
  font-size: 22px;
  font-weight: bold;
  text-shadow: 2px 2px 0px var(--black);
}

/* Third part of the home page, news part with the next game coming up */

.home_news-wrapper {
  padding: 55px 0px 70px;
  background-color: var(--black);
  border-bottom: 1px solid var(--white);
}

.home_news-wrapper h2{
  padding-bottom: 30px; 
  font-size: 38px;
  line-height: 38px;
}

/* Fourth part, counter part  */
.home_counter {
  padding: 60px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home_counter div{
  font-size: 22px;
  line-height: 26px;
  margin: 0px 20px;
  width: 33%;
}

.home_counter div span{
  font-size: 34px;
  letter-spacing: 3px;
  color: var(--orange);
}

@media (max-width: 960px){
  .home_presentation-wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 680px){
  .home_presentation-wrapper {
    padding: 20px 10px 15px;
 }

 .home_introduction-wrapper h1 {
  font-size: 70px;
  line-height: 60px;
}

  .home_news-wrapper {
    padding: 20px;
  }

  .home_introduction-text {
    font-size: 14px;
  }
  
  .home_introduction-typing-text {
    font-size: 14px;
  }

  .home_news-wrapper h2{
    padding-bottom: 20px; 
    font-size: 32px;
    line-height: 36px;
  }

  .home_counter{
    flex-direction: column;
    padding: 20px;
  }

  .home_counter div{
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding: 20px 0px;
    width: 100%;
  }

  
}
