.pills_wrapper {
    display:flex;
    align-items: center;
    font-family: var(--fontText);
}

.pills {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
}

@media (max-width: 680px){
    .pills {
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }
  }