.navbar_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0px; 
    box-sizing: border-box;
    font-family: 'Westeinde';
    position: fixed;
    z-index: 3;
    transition: 0.5s;
}

.navbar_bgBlack {
    background-color: var(--black);
    transition: 0.5s;
}

.navbar_logo {
    width: 50%;
    text-align: left;
    padding-bottom: 5px;
}

.navbar_logo img{
    width: 90px;
    height: auto;
}

.navbar_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 0px 0px 15px 20px;
}

.navbar_links p {
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}

.navbar_links p:hover {
    text-shadow:2px 2px 15px var(--white);
    transition: 0.4s;
}

.activeLink {
    color: var(--orange)!important;
    font-weight: bold;
}

.activeLink p:hover {
    text-shadow: none;
}

.navbar_line {
    height: 5px;
    width: 50%;
    background-color: var(--orange);
    position: absolute;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    top: 65px;
    right: 0px;
    transition: 0.8s;
}

.navbar_full-line {
    transition: 0.8s;
    width: 100%;
}

/**** BURGER MENU  ****/

.burgerMenuWrapper {
    cursor: pointer;
    width: 30px;
    display: none;
    z-index: 2;
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 80%;
    height: 3px;
    background-color: var(--white);
    margin: 3px auto;
    transition: all linear 0.2s;
    cursor: pointer;
}

.open .bar1 {
    transform: rotate(-49deg) translate(-7px, 5px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    transform: rotate(45deg) translate(-3px, -2px);
}

.navbar-dropdown_wrapper {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    position: absolute;
    right: 25px;
    top: 55px;
    border: 3px solid var(--orange);
    border-top: 5px solid var(--black);
    background: var(--black);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
    animation: dropdown 0.3s linear;
    display: none;
}

.dropdown-visible {
    display: block;
}

@keyframes dropdown {
    from {
        height: 0px;
    }
    to {
        height: 160px;
    }
}

.navbar-dropdown_wrapper ul li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid var(--white);
}

.navbar-dropdown_wrapper li:last-child {
    border-bottom: none;
}

.navbar-dropdown_wrapper li:hover {
    text-shadow:2px 2px 15px var(--white);
    transition: 0.4s;
}

.active-link_mobile li {
    background: var(--orange);
}

.margin-nav {
    margin-bottom: 15px;
  }
  
@media (max-width: 1200px){
    .navbar_logo {
        width: 30%;
    }
    .navbar_links {
        width: 70%;
    }
    .navbar_line {
        width: 70%;
    }
    .navbar_full-line {
        transition: 0.8s;
        width: 100%;
    }
}

@media (max-width: 960px){
    .navbar_logo {
        width: 20%;
    }
    .navbar_links {
        width: 80%;
    }
    .navbar_line {
        width: 80%;
    }
   .navbar_links p {
        font-size: 16px;
    }
    .navbar_full-line {
        transition: 0.8s;
        width: 100%;
    }
}

@media (max-width: 680px){
    .navbar_wrapper {
        display: flex;
        text-align: center;
        padding: 15px 25px 5px; 
        width: 100%;
        margin: 0 auto;
        background: var(--black);
        border-bottom: 5px solid var(--orange);
    }

    .navbar_logo {
        width: 50%;
        text-align: left;
        box-sizing: border-box;
    }

    .navbar_links {
        display: none;
    }
    
    .navbar_links {
        width: 100%;
        box-sizing: border-box;
        padding: 0px 0px 15px 20px;
    }

    .navbar_line {
        display: none;
    }
    .navbar_links p {
        font-size: 14px;
    }

    .burgerMenuWrapper {
        display: inline-block;
    }

    .margin-nav {
        margin-bottom: 0;
      }
}