.court-preview_container {
    display: flex;
}

.court-preview_wrapper {
    width: 60%;
    min-height: 450px;
    border: 4px solid var(--gray);
    margin: 0 auto;
    position: relative;
    background: var(--solidGray);
    overflow: hidden;
    border-top: 0px;
}

.court-preview_line-middle-court {
    position: absolute;
    border: 2px solid var(--gray);
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.court-preview_half-circle {
    position: absolute;
    height: 90%;
    width: 430px;
    border: 4px solid var(--gray);
    border-radius: 50%;
    transform: translateX(-50%);
    top: 5%;
}

.circle-right {
    left: 100%;
}

.court-preview_round-middle-court {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 4px solid var(--gray);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.court-preview_wrapper-players {
    max-width: 100%;
}

/* TABLE */
.court-preview_table-players {
    width: 40%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 20px;
    height: 50%;
}

.header-column {
    font-family: var(--fontTitle);
    font-size: 16px;
    line-height: 18px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}

.court-preview_separator {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -65%);
    font-family: var(--fontNumber);
    font-size: 30px;
    line-height: 30px;
    height: 65px;
    width: 65px;
    border-left: 4px solid var(--white);
    border-top: 4px solid var(--white);
    border-right: 4px solid var(--orange);
    border-bottom: 4px solid var(--orange);
    background: var(--solidGray);
    padding-top: 7px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-transform: uppercase;
}

.court-preview_line {
    display: flex;
    width: 100%;
    justify-content: space-around;  
}

.court-preview_column {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px solid var(--gray);
    padding: 10px 0px;
    min-height: 40px;
}

.court-preview_column:first-child {
    border: 1px solid var(--orange);
}

.court-preview_column p {
    font-size: 16px;
    line-height: 18px;
}


@media (max-width: 1200px){
    .court-preview_container {
        display: block;
    }

    .court-preview_wrapper, .court-preview_table-players {
        width: 100%;
    }

    .court-preview_separator {
        top: 12%;
    }
}

@media (max-width: 990px){
    .court-preview_wrapper {
        min-height: 380px;
    }

    .court-preview_half-circle {
        width: 300px;
    }

    .court-preview_round-middle-court {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 700px){
    .court-preview_wrapper {
        width: 95%;
        min-height: 315px;
    }

    .court-preview_table-players {
        width: 95%;
    }

    .court-preview_half-circle {
        width: 280px;
    }

    .court-preview_round-middle-court {
        width: 160px;
        height: 160px;
    }

    .court-preview_half-circle {
        display: none;
    }

  }