.draft_wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: baseline;
    max-width: 1125px;
    max-height: 605px;
    overflow: scroll;
    margin: 0 auto;
}


@media (max-width: 1211px){
    .draft_wrapper {
        max-width: 750px;
    }
  }

  @media (max-width: 817px){
    .draft_wrapper {
        max-width: 370px;
    }
  }
