/****FONTS****/

@font-face {
  font-family: 'Kanit';
  src: url('./fonts/Kanit/Kanit-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: bolder;
}

@font-face {
  font-family: 'Westeinde';
  src: url('./fonts/Westeinde/WesteindeCaption-Light.eot');
  src: url('./fonts/Westeinde/WesteindeCaption-Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Westeinde/WesteindeCaption-Light.woff2') format('woff2'),
      url('./fonts/Westeinde/WesteindeCaption-Light.woff') format('woff'),
      url('./fonts/Westeinde/WesteindeCaption-Light.ttf') format('truetype'),
      url('./fonts/Westeinde/WesteindeCaption-Light.svg#WesteindeCaption-Light') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Old-sport';
  src: url('./fonts/old-sport-athletic/OLD_SPORT_01_COLLEGE_NCV.ttf') format('truetype');
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'freshmarker';
  src: url('./fonts/graffFont/freshmarker.ttf') format('truetype');
  font-weight: 800;
  font-style: bold;
}

/****COLORS****/

:root {
  --black: #1d1d1d;
  --white: #ebebeb;
  --gray: rgba(255, 255, 255, 0.5);
  --orange: #EF7E4D;
  --lightOrange: rgba(239, 126, 77, 0.7);
  --green: #4BB543;
  --red: #ff6961;
  --gradientGray: linear-gradient(to right, #484a4d, #232526);
  --solidGray: #484a4d;
  --fontTitle: 'Kanit';
  --fontText: 'Westeinde';
  --fontNumber: 'Old-sport';
  --fontGraff: 'freshmarker';
}

body {
  margin: 0;
  padding: 0;
  font-family: "Westeinde", "NotoSans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #232526; 
  background: -webkit-linear-gradient(to right, #484a4d, #232526); 
  background: linear-gradient(to right, #484a4d, #232526);
  color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white);
  font-weight: 500;
}

input,
textarea,
button,
select,
a, 
img {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul {
  list-style: none;
  margin: 0;
}

p {
  font-size: 13px;
  line-height: 15px;
  margin: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  transition: none;
}

form input[type='radio']{
  width: 100%;
  height: 100%;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

.activeLink a {
  color: var(--orange);
  font-weight: bold;
}

.tab.active h3{
  color: var(--black);
}

:focus {
  outline: none;
}

img:focus {outline:0; background-color:transparent;}

/* ANT DESIGN  */

/* DATE AND TIME PICKER */
.ant-calendar {
  background: var(--solidGray);
  color: var(--white);
  font-family: var(--fontTitle);
}

.ant-calendar-input, .ant-calendar-selected-day .ant-calendar-date {
  background: transparent;
  color: var(--white);
}

.ant-calendar th, .ant-calendar-header a:hover  {
  color: var(--orange);
}

.ant-calendar-selected-date .ant-calendar-date, 
.ant-calendar-selected-start-date .ant-calendar-date, 
.ant-calendar-selected-end-date .ant-calendar-date, 
.ant-calendar-selected-date .ant-calendar-date:hover, 
.ant-calendar-selected-start-date .ant-calendar-date:hover, 
.ant-calendar-selected-end-date .ant-calendar-date:hover {
  background: var(--orange);
  color: var(--white);
}

.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: var(--orange);
}

.ant-calendar-date:hover {
  background: var(--white);
  color: var(--black);
}

.ant-calendar-date, 
.ant-calendar-header .ant-calendar-year-select, 
.ant-calendar-header .ant-calendar-month-select{ 
  color: var(--white);
}

.ant-calendar-today .ant-calendar-date {
  color: var(--orange);
  font-weight: bold;
  border-color: var(--orange);
}

li.ant-time-picker-panel-select-option-selected {
  font-weight: bold;
  background: var(--orange);
}

.ant-time-picker-panel-select li:hover {
  font-weight: bold;
  background: var(--gray);
  color: var(--black);
}

.time-picker-dropdown {
  width: 152px;
  top: 2px;
  left: 391px;
  max-width: none;
}

.ant-time-picker-icon .ant-time-picker-clock-icon, 
.ant-time-picker-clear .ant-time-picker-clock-icon,
.ant-calendar-picker-icon  {
  color: var(--gray);
}

.ant-time-picker-panel-input {
  background: transparent;
}

.ant-time-picker-panel-inner {
  background: var(--solidGray);
  border: 1px solid var(--gray);
  color: var(--white);
  font-family: var(--fontTitle);
}

.ant-btn-primary {
  background-color: transparent;
  border-color: var(--orange);
}

.ant-btn-primary:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}

.ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled), 
.ant-input:focus {
  border-color: var(--orange);
  box-shadow: none;
}

.ant-time-picker-panel-narrow .ant-time-picker-panel-input-wrap {
  max-width: none;
}

.ant-time-picker-panel-select ul {
  padding: 0;
}

.ant-time-picker-panel-select {
  width: 50%;
}
/* END TIME AND DATE PICKER */

.ant-form-item {
  margin-bottom: 15px;
}

.ant-form label {
  font-size: 14px;
  color: var(--white);
}

.ant-select-selection--single {
  height: 36px;
  background: transparent;
  padding-top: 2px;
  color: var(--white);
  border: 1px solid var(--orange);
}

.ant-select-selection__rendered {
  position: relative;
  display: block;
  margin-right: 15px;
  margin-left: 15px;
  line-height: 30px;
}

.ant-select {
  font-family: var(--fontTitle);
}

.ant-select-selection {
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--gray);
}

.ant-select-arrow-icon {
  color: var(--white);
}

.ant-select-selection:active, 
.ant-select-selection:hover, 
.ant-select-selection:visited {
  border-color: var(--orange);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0px 0px 10px 1px var(--orange);
}

.ant-select-enabled {
  border-color: var(--gray);
}

.ant-select-focused, 
.ant-select-selection:focus {
  border-color: var(--orange);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: none;
}

.ant-select-open .ant-select-selection {
  border-color: var(--orange);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: none;
}

.ant-select-dropdown-menu-item-selected, 
.ant-select-dropdown-menu-item-selected:hover {
  color: var(--black);
  font-weight: 600;
  background-color: var(--orange);
}

.ant-select-dropdown-menu-item:hover {
  background-color: var(--white);
  color: var(--black);
  font-weight: bold;
}

form textarea.ant-input {
  background: transparent;
  border: 1px solid var(--gray);
  color: var(--white);
  font-weight: bold;
}

form textarea.ant-input:hover {
  box-shadow: 0px 0px 10px 1px var(--orange);
  border: 1px solid var(--orange);
}

.ant-radio-button-wrapper {
  background: transparent;
  font-family: var(--fontTitle);
  color: var(--white);
  width: 50%;
  text-align: center;
  border: 1px solid var(--gray);
}

.ant-radio-group {
  min-width: 150px;
  width: 150px;
}

.ant-radio-button-wrapper:hover {
  color: var(--white);
  border: 1px solid var(--orange);
}

.ant-radio-button-wrapper-checked:first-child, .ant-radio-button-wrapper-checked, .ant-radio-button-wrapper-checked:hover {
  color: var(--white);
  border-color: var(--gray);
  background-color: var(--orange);
  box-shadow: -1px 0 0 0 var(--orange);
}

.ant-select-dropdown-menu {
  border: 1px solid var(--gray);
  border-radius: 2px;
}

.ant-select-dropdown-menu-item {
  color: var(--white);
  cursor: pointer;
  font-family: var(--fontTitle);
}

.ant-select-dropdown-menu-item-active {
  background-color: var(--orange);
  color: var(--white);
  font-weight: bold;
}

.ant-rate-star-second {
  color: var(--gray);
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: var(--gray);
  overflow: hidden;
}

/**** TEXT SELECTION COLOR ****/
::-moz-selection {
  background-color: var(--white);
  color: var(--white);
}

::selection {
  background-color: var(--white);
  color: var(--white);
}

::placeholder {
  color: var(--gray);
  opacity: 1; 
}

/* BACKGROUND PAGE */
.main_wrapper {
  padding-top: 120px;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
}

.main_container {
  border: 2px solid var(--gray);
  width: 90%;
  min-height: 80vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 20px 60px;
  border-radius: 2px;
  background: linear-gradient(to right, rgba(72, 74, 77, 0.8), rgba(35, 37, 38, 0.8));
  position: relative;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

@media (max-width: 1302px){
  .main_container {
      width: 95%;
      padding: 20px 10px;
  }
}

@media (max-width: 960px){
  .ant-radio-group {
    display: flex;
  }

  .ant-radio-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 680px){
  .noMobile {
    display: none !important;
  }

  .ant-calendar-picker-icon, .ant-time-picker-icon {
    display: none;
  }

  .dpMobile {
    display: block !important;
  }

  .main_container {
    padding: 20px 5px;
  }
}
