/****FONTS****/

@font-face {
  font-family: 'Kanit';
  src: url('./fonts/Kanit/Kanit-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: bolder;
}

@font-face {
  font-family: 'Westeinde';
  src: url('./fonts/Westeinde/WesteindeCaption-Light.eot');
  src: url('./fonts/Westeinde/WesteindeCaption-Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Westeinde/WesteindeCaption-Light.woff2') format('woff2'),
      url('./fonts/Westeinde/WesteindeCaption-Light.woff') format('woff'),
      url('./fonts/Westeinde/WesteindeCaption-Light.ttf') format('truetype'),
      url('./fonts/Westeinde/WesteindeCaption-Light.svg#WesteindeCaption-Light') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Old-sport';
  src: url('./fonts/old-sport-athletic/OLD_SPORT_01_COLLEGE_NCV.ttf') format('truetype');
  font-weight: 800;
  font-style: bold;
}

/****COLORS****/

:root {
  --black: #1d1d1d;
  --white: #ebebeb;
  --gray: rgba(255, 255, 255, 0.5);
  --orange: #EF7E4D;
  --lightOrange: rgba(239, 126, 77, 0.7);
  --green: #4BB543;
  --red: #ff6961;
  --gradientGray: linear-gradient(to right, #484a4d, #232526);
  --solidGray: #484a4d;
  --fontTitle: 'Kanit';
  --fontText: 'Westeinde';
  --fontNumber: 'Old-sport';
}

body {
  margin: 0;
  padding: 0;
  font-family: "Westeinde", "NotoSans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #232526; 
  background: -webkit-linear-gradient(to right, #484a4d, #232526); 
  background: linear-gradient(to right, #484a4d, #232526);
  color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a, 
img {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul {
  list-style: none;
}

p {
  font-size: 13px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img:focus {outline:0; background-color:transparent;}

/**** TEXT SELECTION COLOR ****/
::-moz-selection {
  background-color: var(--white);
  color: var(--white);
}

::selection {
  background-color: var(--white);
  color: var(--white);
}

::placeholder {
  color: var(--gray);
  opacity: 1; 
}

/* BACKGROUND PAGE */
.main_wrapper {
  padding-top: 120px;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
}

.main_container {
  border: 2px solid var(--gray);
  width: 90%;
  min-height: 80vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 20px 60px;
  border-radius: 2px;
  background: linear-gradient(to right, rgba(72, 74, 77, 0.8), rgba(35, 37, 38, 0.8));
  position: relative;
}

@media (max-width: 1280px){
  .main_container {
      width: 95%;
      padding: 20px 10px;
  }
}

@media (max-width: 960px){

}

@media (max-width: 680px){
  .noMobile {
    display: none !important;
  }

  .main_container {
    padding: 20px 5px;
  }
}
